{% extends "_base.html" %}

{% block content %}

<div ng-controller="manual_ctrl">

  <!--Nav Bar menu interactive follow scroll position -->
  <!-- Bug, only can manage 2 levels -->

  <!--<nav id="myNavbar" class="navbar navbar-inverse navbar-fixed-top" style="padding-top:70px;">-->
  <!--<div class="container">-->
  <!--&lt;!&ndash; Brand and toggle get grouped for better mobile display &ndash;&gt;-->
  <!--<div class="navbar-header">-->
  <!--<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbarCollapse">-->
  <!--<span class="sr-only">Toggle navigation</span>-->
  <!--<span class="icon-bar"></span>-->
  <!--<span class="icon-bar"></span>-->
  <!--<span class="icon-bar"></span>-->
  <!--</button>-->
  <!--<a class="navbar-brand" href="#">Scrollspy</a>-->
  <!--</div>-->
  <!--&lt;!&ndash; Collect the nav links, forms, and other content for toggling &ndash;&gt;-->
  <!--<div class="collapse navbar-collapse" id="navbarCollapse">-->
  <!--<ul class="nav navbar-nav">-->
  <!--<li class="active"><a href="#section1">Section 1</a></li>-->
  <!--<li><a href="#section2">Section 2</a></li>-->
  <!--<li><a href="#section3">Section 3</a></li>-->
  <!--<li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Section 4<b class="caret"></b></a>-->
  <!--<ul class="dropdown-menu">-->
  <!--<li><a href="#section4dot1">Section 4.1</a></li>-->
  <!--<li><a href="#section4dot2">Section 4.2</a></li>-->
  <!--<li><a href="#section4dot3">Section 4.3</a></li>-->
  <!--</ul>-->
  <!--</li>-->
  <!--<li><a href="#section5">Section 5</a></li>-->
  <!--</ul>-->
  <!--</div>-->
  <!--</div>-->
  <!--</nav>-->

  <div class="col-xs-3 bs-docs-sidebar" ng-hide="isMobile()">
    <ul id="sidebar" class="nav nav-stacked">
      <li ng-repeat="manual_sect_1 in manual">
        <a target="_self" ng-href="#{{! formatAnchor(manual_sect_1) }}" ng-bind-html="formatMenuNavHtml(manual_sect_1.title)"></a>
        <ul class="nav nav-stacked">
          <li ng-repeat="manual_sect_2 in manual_sect_1.section">
            <a target="_self" ng-href="#{{! formatAnchor(manual_sect_2) }}" ng-bind-html="manual_sect_2.title"></a>
          </li>
        </ul>
      </li>
      <a class="nav nav-stacked" target="_self" href="#top"> Retour en haut </a>
    </ul>
  </div> <!-- end nav content -->

  <!-- Main content -->
  <div class="col-sm-9" style="padding-bottom: 140px;">
    <span class="anchor" id="top"></span>
    <h1 class="tl" style="text-align: center">Livre du joueur de Traître-Lame</h1>

    <div ng-repeat="manual_sect_1 in manual">
      <!-- This span class anchor only exist to help anchor with nav menu top fixed -->
      <span class="anchor" id="{{! formatAnchor(manual_sect_1) }}"></span>
      <h1 ng-bind-html="getTitleHtml(manual_sect_1)"></h1>
      <p ng-bind-html="formatHtmlDescription(manual_sect_1.description)"></p>

      <div ng-repeat="manual_sect_2 in manual_sect_1.section">
        <span class="anchor" id="{{! formatAnchor(manual_sect_2) }}"></span>
        <h2 ng-bind-html="getTitleHtml(manual_sect_2)"></h2>
        <p ng-bind-html="formatHtmlDescription(manual_sect_2.description)"></p>

        <div ng-repeat="manual_sect_3 in manual_sect_2.section">
          <span class="anchor" id="{{! formatAnchor(manual_sect_3) }}"></span>
          <h3 ng-bind-html="getTitleHtml(manual_sect_3)"></h3>
          <p ng-bind-html="formatHtmlDescription(manual_sect_3.description)"></p>

          <div class="panel panel-primary" ng-repeat="manual_sect_4 in manual_sect_3.section">
            <span class="anchor" id="{{! formatAnchor(manual_sect_4) }}"></span>
            <div class="panel-heading">
              <h4 class="panel-title" ng-bind-html="getTitleHtml(manual_sect_4)"></h4>
            </div>
            <div class="panel-body">
              <p ng-bind-html="formatHtmlDescription(manual_sect_4.description)"></p>

              <div class="panel panel-primary" ng-repeat="manual_sect_5 in manual_sect_4.section">
                <span class="anchor" id="{{! formatAnchor(manual_sect_5) }}"></span>
                <div class="panel-heading">
                  <h5 class="panel-title" ng-bind-html="getTitleHtml(manual_sect_5)"></h5>
                </div>
                <div class="panel-body">
                  <p ng-bind-html="formatHtmlDescription(manual_sect_5.description)"></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> <!-- end main content -->

</div>
{% end %}
